html {
    font-family: sans-serif;
    max-width:1280px;
    margin: 0 auto;
}

ul {
    padding-left:0;
}

li {
    display:inline-block;
}
a {
    color: mediumseagreen;
}
p {
    color:#777;
}
strong {
    display:block;
    margin:25px 0 5px 0;
}

.share-items {
    padding:50px;
    border-bottom:1px dotted #222;
}

.share-links a {
    padding:10px 15px;
    border-radius:3px;
    color:#fff;
    text-decoration: none;
    display:inline-block;
}

@media (max-width:640px) {
    .share-links a {
        margin-bottom:15px;
    }
}

.twitterBtn {
    background-color: #4099FF;
}

.twitterBtn:hover {
    background-color: #5FA5F5;
}

.facebookBtn {
    background-color: #3b5998;
}

.facebookBtn:hover {
    background-color: #5171B3;
}

.linkedinBtn {
    background-color: #0077B5;
}

.linkedinBtn:hover {
    background-color: #2886B7;
}

.googleBtn {
    background-color: #d34836;
}

.googleBtn:hover {
   background-color: #D66050;
}