html {
    font-family: sans-serif;
    max-width:1280px;
    margin: 0 auto;
}

li {
    display:inline-block;
}

a {
    padding:5px 15px;
    border:1px solid gray;
    border-radius:3px;
    color:black;
    text-decoration: none;
    background:#efefef;
}

a:hover {
    background:#D8D8D8
}